{% extends "base.html" %}

{% block content %}
<h1>About Us!</h1>
<p>
    Sup Ya’ll. We two kids from alannah and we be tryna getcho ass through skewl without flunkin.<br><br>
    Hi there and welcome to the Illini Guide, where planning your university experience becomes the last
    thing you worry about! As two Illini, we share your pain and annoyances with planning out your classes
    and the registration system, and that’s exactly why we made this: the only site dedicated to the
    University of Illinois at Urbana-Champaign. There’s plenty of other sites out there, but we’re here to do it all,
    and do it well! <br><br>
    Some cool things about us:
</p>
<ul>
    <li>
        We’re free, now and forever. No ads, no nothing. You pay enough for school, spend your cash somewhere else! Please considering donating if you enjoy your experience to help keep us up and running.
    </li>
    <li>
        We’re open source. Got a cool idea for us? Build it! Or let us know and we’ll work it out.
    </li>
</ul>
<p>
    What you get here:
</p>
<ul>
    <li>
        Your own profile. Track your progress, see what’s next, take control of school!
    </li>
    <li>
        Ratings and reviews. From professors to classes, there’s everything you need to know to make informed decisions!
    </li>
    <li>
        Grade prediction. Everyone wishes they knew how they might do in a class, now you can!
    </li>
    <li>
        Scheduler. Hate mornings? Want an easy semester? Let us know and we’ll make a schedule for you that’ll keep you on track, with just the right difficulty, and the best professors.
    </li>
</ul>
<p>
    Hop on in and have a good time! If you got feedback for us, shoot us an email! <br><br>
    Keyvon and Neeruj
</p>

{% endblock %}
