<!doctype html>
<html>
  <head>
      <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
      <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
      <script type="text/javascript">
          $(function() {
              $("#autocomplete").autocomplete({
                  source: function(request, response) {
                      $.getJSON("{{ url_for('home.autocomplete') }}", {
                          q: request.term,
                      }, function(data) {
                          response(data.matching_results.slice(0, 15));
                      });
                  },
                  minLength: 2,
                  autoFocus: true,
                  select: function(event, ui) {
                      window.location.href = "/search/"+ui.item.value;
                  }
              });
          })
      </script>
      <script>
          $("#autocomplete").keydown(function(event){
              if(event.keyCode == 13) {
                  if($("#autocomplete").val().length==0) {
                      event.preventDefault();
                      return false;
                  }
              }
          });
      </script>
      <title>Welcome to IlliniGuide</title>
  </head>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>IlliniGuide:
        <a href="{{ url_for('home.index') }}">Home</a>
        | <a href="{{ url_for('home.about') }}">About</a> |
        {% if current_user.is_authenticated %}
          <a href="{{ ('/user/' + current_user.name.replace(' ', '')) }}">{{ current_user.name }}</a>
          | <a href="{{ url_for('home.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('home.login') }}">Login</a>
          | <a href="{{ url_for('home.signup') }}">Sign Up!</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
