{% extends "base.html" %}

{% block title %}
All Departments - IlliniGuide
{% endblock %}

{% block content %}
<h3> All Departments </h3>
<p> Quick Search: <input style="width: 100px" type="text" id="alldeptqs" class="autocomplete2" placeholder="Enter a department..."/> </p>
<ul class="alllist">
    {% for x in departments %}
        <li><a href="{{ url_for('dept.departmentpage', dept=x[0]) }}"> {{ x[0] }} - {{ x[1] }}</a></li>
    {% endfor %}
</ul>
<ul class="quicksearch">
</ul>
{% endblock %}
