{% extends "base.html" %}

{% block title %}
{{ professorname }} - IlliniGuide
{% endblock %}

{% block content %}
    <h1>{{ professorname }}</h1>

    <h3>Stats</h3>
    <ul>
        {% for stat in stats %}
            <li>{{ stat[0] }}-{{ stat[1] }}</li>
        {% endfor %}
    </ul>

    <h3>Classes Taught</h3>
    <ul>
        {% for class in classes %}
            <li>{{ class }}</li>
        {% endfor %}
    </ul>

    <h3>Leave a Review!</h3>
    {% if current_user.is_authenticated %}
        <form action="" method="post" name="Review">
            {{ form.hidden_tag() }}
            <p>
                Class Name: {{ form.classname(size=80) }} <br>
                Comments: {{ form.comments(size=100) }} <br>
                Professor Difficulty: {{ form.profdifficulty(size=40) }} <br>
                Class Difficulty: {{ form.classdifficulty(size=40) }} <br>
                Group Work: {{ form.groupwork(size=40) }} <br>
                Hours per Week: {{ form.hoursperweek(size=40) }} <br>
                Overall Quality: {{ form.quality(size=40) }} <br>
                <div>
                    Grade: {{ form.grade }}
                    <!--{% for subfield in form.grade %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}-->
                </div>
                <div>
                    Plus/Minus: {{ form.plusminus }}
                    <!--{% for subfield in form.plusminus %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}-->
                </div>
                {% for error in form.professorname.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {% for error in form.classname.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p><input type="submit" value="Submit Review"></p>
        </form>
    {% else %}
        <p>Please <a href='{{ url_for(home.login) }}'>login</a> to write a review</p>
    {% endif %}

    <h3>Reviews (Will be organized by class in future) </h3>
    <ul>
        {% for review in reviews %}
            <li>
                <p>Date written: {{ review.date }}</p>
                <p>Class: {{ review.classname }}</p>
                <p>Comments: {{ review.comments }}</p>
                <p>Easiness: {{ review.easy }}</p>
                <p>Overall Quality: {{ review.quality }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
