{% extends "base.html" %}

{% block content %}
    <h1>{{ professorname }}</h1>

    <h3>Stats</h3>
    <ul>
        {% for stat in stats %}
            <li>{{ stat[0] }}-{{ stat[1] }}</li>
        {% endfor %}
    </ul>

    <h3>Classes Taught</h3>
    <ul>
        {% for class in classes %}
            <li>{{ class }}</li>
        {% endfor %}
    </ul>

    <!--<h3> Leave a Review </h3>
    <form action="" method="post" name="Review">
        {{ form.hidden_tag() }}
        <p>
            {{ form.classname.label }}: {{ form.classname(size=100) }}<br>
            {{ form.comments.label }}: {{ form.comments(size=100) }}<br>
            {{ form.profdifficulty.label }}: <br>
                {% for subfield in form.profdifficulty %}
                    <tr>
                        <td>{{ subfield }}</td>
                    </tr>
                {% endfor %} <br>
            {{ form.classdifficulty.label }}: <br>
                {% for subfield in form.classdifficulty %}
                    <tr>
                        <td>{{ subfield }}</td>
                    </tr>
                {% endfor %} <br>
            {{ form.quality.label }}: <br>
                {% for subfield in form.quality %}
                    <tr>
                        <td>{{ subfield }}</td>
                    </tr>
                {% endfor %} <br>
        </p>
        <p><input type="submit" value="Log In"></p>
    </form>-->

    <h3>Reviews (Will be organized by class in future) </h3>
    <ul>
        {% for review in reviews %}
            <li>
                <p>Date written: {{ review.date }}</p>
                <p>Class: {{ review.classname }}</p>
                <p>Comments: {{ review.comments }}</p>
                <p>Easiness: {{ review.easy }}</p>
                <p>Overall Quality: {{ review.quality }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
