<!doctype html>
<html>

<head>
    {% block scripts %}
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    {% endblock %}
    <title>{% block title %}IlliniGuide{% endblock %}</title>
</head>

<body>
    <div>IlliniGuide:
        <a href="{{ url_for('home.index') }}">Home</a> |
        <a href="{{ url_for('home.about') }}">About</a> |
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user.userpage', user=current_user.name.replace(' ', '')) }}">{{ current_user.name }}</a> |
            <a href="{{ url_for('home.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('home.login') }}">Login</a> |
            <a href="{{ url_for('home.signup') }}">Sign Up!</a> |
        {% endif %}
        <span id="navbarsearch"> Search </span>
        <input style="width: 100px" name="autocomplete" type="text" id="searchtoggle" class="autocomplete1" placeholder="Enter a class, department, or professor..."/>
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="color: red">{{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </p>
    {% block content %}{% endblock %}
</body>

</html>
